* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    padding-top: 95px;
    padding-left: 274px;
    padding-right: 24px;
    padding-bottom: 20px;
    background-color: rgb(238, 236, 236);
}

.header {
    height: 55px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 250px;
    right: 0;

    background-color: white;
    border-bottom: 1px solid rgb(197, 197, 197);
    box-shadow: 0 4px 5px -2px rgb(197, 197, 197);
}

.header i {
    margin-left: 24px;
    font-size: 40px;
    cursor: pointer;
}

.user {
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-name-text {
    font-weight: 700;
    margin-bottom: 3px;
}

.admin-text {
    color: gray;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #DD2F6E;
    padding-bottom: 300px;
}

.link {
    font-size: 20px;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    margin: 0 15px;
}

.link:hover {
    border-radius: 20px;
    background-color: white;
    color: #DD2F6E;
    transition: 0.15s;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
}

.upper-part {
    height: 120px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.send-form {
    background-color: white;
    border: 1px solid black;
    box-shadow: 2px 2px 5px black;
    width: 350px;
    height: 110px;
}

.upper-part-form {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.selector {
    width: 80px;
    height: 25px;
    border: none;
    background-color: #DD2F6E;
    color: white;
    border-radius: 2px;
}

.upper-part-input-button {
    height: 35px;
    width: 300px;
    margin-top: 35px;
    border: none;
    background-color: #DD2F6E;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.input-button:hover {
    opacity: 0.9;
}

.lower-part {
    margin-top: 20px;
    height: 700px;

    display: flex;
}

.lower-part-buttons {
    width: 280px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.lower-part-input-button {
    height: 35px;
    width: 250px;
    margin-top: 35px;
    border: none;
    background-color: #DD2F6E;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 580px;
}

.lower-part-content {
    background-color: white;
    border: 1px solid rgb(148, 145, 145);
    border-radius: 20px;
    width: 750px;
}